@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
}

@theme inline {
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-mono: Fira Code, monospace;
    --font-serif: Georgia, serif;
    --radius: 0.35rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

:root {
    color-scheme: light;
    --base: #f1f9fe;
    --dark: #111212;
    --base-muted-hex: #c4cbcf;
    --dark-muted-hex: #3e4041;
    --base-muted: rgb(241 249 254 / 0.2);
    --dark-muted: rgb(17 18 18 / 0.2);
    --primary-vue: #3fb27f;
    --primary-laravel: #f23b2f;
    --primary-tailwind: #36b7f0;

    --background: var(--base);
    --foreground: var(--dark);
    --card: var(--base);
    --card-foreground: var(--dark);
    --popover: var(--base);
    --popover-foreground: var(--dark);
    --primary: var(--primary-vue);
    --primary-foreground: var(--dark);
    --secondary: var(--base-muted);
    --secondary-foreground: var(--dark);
    --muted: var(--base-muted);
    --muted-foreground: var(--dark-muted-hex);
    --accent: var(--base-muted);
    --accent-foreground: var(--dark);
    --destructive: var(--primary-laravel);
    --destructive-foreground: var(--dark);
    --border: var(--dark);
    --input: var(--base-muted);
    --ring: var(--dark-muted-hex);
    --chart-1: var(--primary-vue);
    --chart-2: var(--primary-laravel);
    --chart-3: var(--primary-tailwind);
    --chart-4: var(--dark);
    --chart-5: var(--base-muted-hex);
    --radius: 0.35rem;
    --sidebar: var(--base);
    --sidebar-foreground: var(--dark);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--dark);
    --sidebar-accent: var(--base-muted);
    --sidebar-accent-foreground: var(--dark);
    --sidebar-border: var(--base-muted);
    --sidebar-ring: var(--dark-muted-hex);
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: hsl(0 0% 20% / 0.1);
    --shadow-opacity: 0.15;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
    --tracking-normal: 0em;
    --gridline-color: var(--dark-muted);
}

.dark {
    color-scheme: dark;
    --background: var(--dark);
    --foreground: var(--base);
    --card: var(--dark);
    --card-foreground: var(--base);
    --popover: var(--dark);
    --popover-foreground: var(--base);
    --primary: var(--primary-vue);
    --primary-foreground: var(--dark);
    --secondary: var(--dark-muted);
    --secondary-foreground: var(--base);
    --muted: var(--dark-muted);
    --muted-foreground: var(--base-muted-hex);
    --accent: var(--dark-muted);
    --accent-foreground: var(--base);
    --destructive: var(--primary-laravel);
    --destructive-foreground: var(--dark);
    --border: var(--base);
    --input: var(--dark-muted);
    --ring: var(--base-muted-hex);
    --chart-1: var(--primary-vue);
    --chart-2: var(--primary-laravel);
    --chart-3: var(--primary-tailwind);
    --chart-4: var(--base);
    --chart-5: var(--dark-muted-hex);
    --radius: 0.35rem;
    --sidebar: var(--dark);
    --sidebar-foreground: var(--base);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--dark);
    --sidebar-accent: var(--dark-muted);
    --sidebar-accent-foreground: var(--base);
    --sidebar-border: var(--dark-muted);
    --sidebar-ring: var(--base-muted-hex);
    --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: hsl(0 0% 20% / 0.1);
    --shadow-opacity: 0.15;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-xs: 0px 2px 0px 0px hsl(0 0% 20% / 0.07);
    --shadow-sm: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 1px 2px -1px hsl(0 0% 20% / 0.15);
    --shadow-md: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 2px 4px -1px hsl(0 0% 20% / 0.15);
    --shadow-lg: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 4px 6px -1px hsl(0 0% 20% / 0.15);
    --shadow-xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.15), 0px 8px 10px -1px hsl(0 0% 20% / 0.15);
    --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 20% / 0.38);
    --gridline-color: var(--base-muted);
}

@layer base {
  body {
    letter-spacing: var(--tracking-normal);
    }
}

@layer utilities {
    .font-title {
        letter-spacing: -0.1em;
    }

    .scroll-mt-16 {
        scroll-margin-top: 4rem;
    }
}

/* View Transition for theme toggle */
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

::view-transition-old(root) {
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 9999;
}